.cry1   {
    float: left;

}
.cry2   {
    float: left;

}
.cry3   {
    float: left;

}
.cry4   {
    float: left;

}
.target  {
    font-weight: bold;
    font-family: 'ZCOOL KuaiLe', cursive;
    float: left;
    margin-left: 3%;
    width: 100px;
    height: 100px;
    border-style: groove;
    color: white;
}
.orignumber  {
    font-weight: bold;
    font-family: 'ZCOOL KuaiLe', cursive;
    float: left;
    margin-left: 3%;
    width: 100px;
    height: 100px;
    border-style: groove;
    color: white;
}
.changednumber  {
    font-weight: bold;
    font-family: 'ZCOOL KuaiLe', cursive;
    float: left;
    margin-left: 3%;
    width: 100px;
    height: 100px;
    border-style: groove;
    color: white;
}
body            {
    background-color: black;
}
.btn    {
    color: white;
}
.allcry {
    align-content: center;
}

.winscounter  {
    font-weight: bold;
    font-family: 'ZCOOL KuaiLe', cursive;
    float: left;
    margin-left: 3%;
    width: 100px;
    height: 100px;
    border-style: groove;
    color: white;
}
.losscounter  {
    font-weight: bold;
    font-family: 'ZCOOL KuaiLe', cursive;
    float: left;
    margin-left: 3%;
    width: 100px;
    height: 100px;
    border-style: groove;
    color: white;
}
.container {
    align-items: center;
    float: left;

}
.jumbotron  {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-style: italic;
    text-decoration: underline;
}
.bodycontainer  {
    margin-right: 15%;
    margin-left: 15%;
    font-family: 'ZCOOL KuaiLe', cursive;

}