#cry1   {

    width: 210px;
    height: 210px;

}
#cry2   {
   
    width: 210px;
    height: 210px;

}
#cry3   {
 
    width: 210px;
    height: 210px;

}
#cry4   {
 
    width: 210px;
    height: 210px;

}
.target  {
    font-weight: bold;
    font-family: 'ZCOOL KuaiLe', cursive;
    float: left;
    margin-left: 3%;
    width: 150px;
    height: 150px;
    border-style: groove;
    color: white;
}
.orignumber  {
    font-weight: bold;
    font-family: 'ZCOOL KuaiLe', cursive;
    float: left;
    margin-left: 3%;
    width: 150px;
    height: 150px;
    border-style: groove;
    color: white;
}
.changednumber  {
    font-weight: bold;
    font-family: 'ZCOOL KuaiLe', cursive;
    float: left;
    margin-left: 3%;
    width: 150px;
    height: 150px;
    border-style: groove;
    color: white;
}
body            {
    background-color: black;
    background-image: url("/assets/images/dwarves.JPG");
    background-size: 100%;
}
.btn    {
    color: white;
}
.allcry {
    align-content: center;
}

.winscounter  {
    font-weight: bold;
    font-family: 'ZCOOL KuaiLe', cursive;
    float: left;
    margin-left: 3%;
    width: 150px;
    height: 150px;
    border-style: groove;
    color: white;
}
.losscounter  {
    font-weight: bold;
    font-family: 'ZCOOL KuaiLe', cursive;
    float: left;
    margin-left: 3%;
    width: 150px;
    height: 150px;
    border-style: groove;
    color: white;
}
.container {
    align-items: center;
    float: left;

}
.jumbotron  {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    background-image: url("/assets/images/scrooge.JPG");
    background-size: 100%;
    color: white;
}
.bodycontainer  {
    margin-right: 15%;
    margin-left: 25%;
    font-family: 'ZCOOL KuaiLe', cursive;


}